# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.build-outputs/

# Android
.gradle/
.kotlin/
local.properties
debug.keystore

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Env
.env

# Android native build
.externalNativeBuild/
.cxx/
captures/